body{
    margin :0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background : linear-gradient(145deg,blue,rgb(58, 1, 58));
    
}

#calculator{

    font-family: Arial, Helvetica, sans-serif;
    background : linear-gradient(125deg,rgb(251, 0, 0),rgb(46, 2, 103));
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    box-shadow: 10px 15px 17px 5px #121212;
}
#display{
    width: 100%;
    padding: 20px;
    text-align: left;
    border:none;
    background : linear-gradient(125deg,rgb(245, 0, 0),rgb(73, 21, 98));
    font-size: 1.5em;

}
#keys{
    display: grid;
     grid-template-columns: repeat(4,1fr);
     gap: 10px;
     padding: 25px;
}
button{
    width : 1em;
    height : 1em;
    border-radius : 50px;
    background-color: transparent;
    color : #f7e6e6;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    transform: translateY(-5px);
    background : linear-gradient(125deg,rgb(110, 4, 4),rgb(49, 3, 71));
}
